<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/page-recipes/styles.css">
  <title>Receitas Foodfy</title>
</head>
<body>
  <div class="content">
    <header>
      <div class="logo">
        <a href="page-home.html">          
          <img src="../assets/logo.png" alt="Foodfy">
        </a>
      </div>

      <div class="links">
        <a href="page-about.html">Sobre</a>
        <a href="page-recipes.html"><strong>Receitas</strong></a>
      </div>
    </header>

    <section class="cards">
      <div class="card" id="burger">
        <div class="card__image-container">
          <img src="../assets/burger.png" alt="Burguer">
        </div>

        <div class="content__title">
          <p class="title">Triplo Bacon Burguer</p>
        </div>

        <div class="card__info">
          <p class="info">Por Jorge Relato</p>
        </div>
      </div>

      <div class="card" id="pizza">
        <div class="card__image-container">
          <img src="../assets/pizza.png" alt="Pizza">
        </div>

        <div class="content__title">
          <p class="title">Pizza 4 Estações</p>
        </div>

        <div class="card__info">
          <p class="info">Por Fabiana Melo</p>
        </div>
      </div>

      <div class="card" id="espaguete">
        <div class="card__image-container">
          <img src="../assets/espaguete.png" alt="Espaguete">
        </div>

        <div class="content__title">
          <p class="title">Espaguete ao alho</p>
        </div>

        <div class="card__info">
          <p class="info">Por Júlia Kinoto</p>
        </div>
      </div>

      <div class="card" id="lasanha">
        <div class="card__image-container">
          <img src="../assets/lasanha.png" alt="Lasanha">
        </div>

        <div class="content__title">
          <p class="title">Lasanha mac n' cheese</p>
        </div>

        <div class="card__info">
          <p class="info">Por Juliano Vieira</p>
        </div>
      </div>

      <div class="card" id="doce">
        <div class="card__image-container">
          <img src="../assets/doce.png" alt="Docinhos">
        </div>

        <div class="content__title">
          <p class="title">Docinhos pão-do-céu</p>
        </div>

        <div class="card__info">
          <p class="info">Por Ricardo Golvea</p>
        </div>
      </div>

      <div class="card" id="asinhas">
        <div class="card__image-container">
          <img src="../assets/asinhas.png" alt="Asinhas">
        </div>

        <div class="content__title">
          <p class="title">Asinhas de frango ao barbecue</p>
        </div>

        <div class="card__info">
          <p class="info">Por Vania Steroski</p>
        </div>
      </div>

      <div class="card" id="burger">
        <div class="card__image-container">
          <img src="../assets/burger.png" alt="Burguer">
        </div>

        <div class="content__title">
          <p class="title">Triplo Bacon Burguer</p>
        </div>

        <div class="card__info">
          <p class="info">Por Jorge Relato</p>
        </div>
      </div>

      <div class="card" id="pizza">
        <div class="card__image-container">
          <img src="../assets/pizza.png" alt="Pizza">
        </div>

        <div class="content__title">
          <p class="title">Pizza 4 Estações</p>
        </div>

        <div class="card__info">
          <p class="info">Por Fabiana Melo</p>
        </div>
      </div>

      <div class="card" id="espaguete">
        <div class="card__image-container">
          <img src="../assets/espaguete.png" alt="Espaguete">
        </div>

        <div class="content__title">
          <p class="title">Espaguete ao alho</p>
        </div>

        <div class="card__info">
          <p class="info">Por Júlia Kinoto</p>
        </div>
      </div>

      <div class="card" id="lasanha">
        <div class="card__image-container">
          <img src="../assets/lasanha.png" alt="Lasanha">
        </div>

        <div class="content__title">
          <p class="title">Lasanha mac n' cheese</p>
        </div>

        <div class="card__info">
          <p class="info">Por Juliano Vieira</p>
        </div>
      </div>

      <div class="card" id="doce">
        <div class="card__image-container">
          <img src="../assets/doce.png" alt="Docinhos">
        </div>

        <div class="content__title">
          <p class="title">Docinhos pão-do-céu</p>
        </div>

        <div class="card__info">
          <p class="info">Por Ricardo Golvea</p>
        </div>
      </div>

      <div class="card" id="asinhas">
        <div class="card__image-container">
          <img src="../assets/asinhas.png" alt="Asinhas">
        </div>

        <div class="content__title">
          <p class="title">Asinhas de frango ao barbecue</p>
        </div>

        <div class="card__info">
          <p class="info">Por Vania Steroski</p>
        </div>
      </div>
    </section>
  </div>
  <div class="footer">
    <p>Todos os direitos reservados, receitas Foodfy.</p>
  </div>

  <div class="modal-overlay">
    <div class="modal">
    </div>

    <div class="modal-content">
      <img src="" alt="">
      <p id="title-modal"></p>
      <p id="info-modal"></p>
      <p class="close-modal">
        Fechar
      </p>
    </div>
  </div>
  <script src="../js/scripts.js"></script>
</body>
</html>